* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
}

@media screen and (max-width:568px) {
  .App {
    align-items:baseline;
  } 
}

@media screen and (max-width:380px) {
  .App{
    max-width: 350px;
    overflow-x: hidden;
  } 
}